<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>UCM Login</title>
    </head>
    <body>
    <div class="login">
        <h1>UC Merced</h1>
        <p>Enter login information below:</p>
        <div class = "log_form">
            <form method="POST" action="{{url_for('login_post')}}">
                <label for="uname">Username:</label><br>
                <input type="text" id="uname" name="uname"><br>
                <label for="uname">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Log In">
            </form>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
    </div>

    <script src="{{url_for('static', filename='myScript.js')}}"></script>
    </body>
</html>

