{% extends 'base_home.html' %}

{% block options %}
    <div class="option_container">
        <div class="live_student_option"><a href="{{ url_for('student_your_courses') }}"> Your Courses </a></div>
        <div class="student_Option"><a href="{{ url_for('student_add_courses') }}"> Add Courses </a></div>
    </div>
{% endblock %}

{% block content %}
    <div class="table_format">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
                <th>Current Grade</th>
            </tr>
            {% for class in classes %}
                <tr>  
                    <td>{{class.course_name}}</td>
                    <td>{{class.teacher_name}}</td>
                    <td>{{class.time}}</td>
                    <td>{{class.number_enrolled}}/{{class.capacity}}</td>
                    <td>{{class.grade}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}