{% extends 'base_home.html' %}

{% block options %}
    <div class="option_container">
        <button><a href ="{{url_for('teacher_home')}}">back</a></button>

        {% for row in rows %}
        <div class="teacher"> {{ row.course_name }} </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="table_format">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row.name}}</td>
                <td>
                    <form method="POST" action="{{url_for('edit_grade', enroll_id=row.enrollment_id)}}">
                        <input type="number" name ="grade" id ="grade" value="{{row.grade}}">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}